name: Node.js

on:
  push:
    branches: [ "main", "feature/*" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 20.x # EOL: 2026-04-30 update tsconfig.json & package.json too
          - 22.x # EOL: 2027-04-30
          - 24.x # EOL: 2028-04-30
          # See supported Node.js release schedule at https://github.com/nodejs/Release
    steps:
    - uses: actions/checkout@v6
      with:
        repository: getargv/getargv
        path: getargv
        token: ${{ secrets.GETARGV_READ }}
    - name: Build libgetargv
      run: make dylib
      working-directory: getargv
    - name: Install libgetargv
      run: sudo make install_dylib
      working-directory: getargv
    - uses: actions/checkout@v6
      with:
        path: getargv.js
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        check-latest: true
        cache-dependency-path: ./getargv.js/package-lock.json
    - run: npm ci
      working-directory: getargv.js
    - run: cat /Users/runner/.npm/_logs/*-debug.log && false
      if: ${{ failure() }}
    - run: npm run build --if-present
      working-directory: getargv.js
    - run: npm test
      working-directory: getargv.js

    - name: Build
      run: |
        npm ci --verbose
        mkdir pkg
        npm pack --pack-destination ./pkg/ || ( npm pack && mv camjn-getargv*.tgz ./pkg/ )
      working-directory: getargv.js
    - uses: actions/upload-artifact@v5
      with:
        name: pack-${{ matrix.node-version }}
        path: getargv.js/pkg/*

  release:
    needs: [ test ]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
    outputs:
      version: ${{ steps.version.outputs.version }}
    env:
      GIT_AUTHOR_NAME: github-actions
      GIT_AUTHOR_EMAIL: github-actions@github.com
      GIT_COMMITTER_NAME: github-actions
      GIT_COMMITTER_EMAIL: github-actions@github.com
    steps:
    - uses: actions/checkout@v6
    - name: Bump Version
      id: version
      run: echo "version=$(npm version patch)" >> $GITHUB_OUTPUT
    - name: Push tag
      run: git push origin tag ${{ steps.version.outputs.version }}
    - name: Push main
      run: git push origin HEAD:main

  publish-gpr:
    needs: [ release ]
    runs-on: macos-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
    - uses: actions/checkout@v6
      with:
        repository: getargv/getargv
        path: getargv
        token: ${{ secrets.GETARGV_READ }}
    - name: Build libgetargv
      run: make dylib
      working-directory: getargv
    - name: install libgetargv
      run: sudo make install_dylib
      working-directory: getargv
    - uses: actions/checkout@v6
      with:
        ref: ${{ needs.release.outputs.version }}
        path: getargv.js
    - run: sed -e 's/@camjn/@getargv/' -i '' package.json
      working-directory: getargv.js
    - uses: actions/setup-node@v6
      with:
        node-version: latest
        registry-url: https://npm.pkg.github.com/
    - run: npm ci
      working-directory: getargv.js
    - run: npm publish
      working-directory: getargv.js
      env:
        NODE_AUTH_TOKEN: ${{ github.token }}
    - run: npm config list
      working-directory: getargv.js
      if: ${{ failure() }}

  publish-npm:
    needs: [ release ]
    runs-on: macos-latest
    permissions:
        id-token: write
    steps:
    - uses: actions/checkout@v6
      with:
        repository: getargv/getargv
        path: getargv
        token: ${{ secrets.GETARGV_READ }}
    - name: Build libgetargv
      run: make dylib
      working-directory: getargv
    - name: install libgetargv
      run: sudo make install_dylib
      working-directory: getargv
    - uses: actions/checkout@v6
      with:
        ref: ${{ needs.release.outputs.version }}
        path: getargv.js
    - uses: actions/setup-node@v6
      with:
        node-version: latest
        registry-url: https://registry.npmjs.org/
    - run: npm ci
      working-directory: getargv.js
    - run: npm publish --provenance --access public
      working-directory: getargv.js
